<div class="contact-container bg-dark">
    <h1>#KONTAKT</h1>
    <div class="contact">
        <div class="contact-form-container">
            <div class="form-header">
                <i class="material-icons">email</i>
                <p>NAPISZ</p>
            </div>
            <div class="form-body">
                <form class="form-container">
                    <mat-form-field>
                        <input matInput placeholder="Email" type="email">
                    </mat-form-field>
                    <mat-form-field>
                        <input matInput placeholder="Imię" type="text">
                    </mat-form-field>
                    <mat-form-field>
                        <input matInput placeholder="Nazwisko" type="text">
                    </mat-form-field>
                    <mat-form-field>
                        <input matInput placeholder="Tytuł" type="text">
                    </mat-form-field>
                    <mat-form-field>
                        <textarea matInput matTextareaAutosize  matAutosizeMinRows="5" placeholder="Wiadomość" type="text"></textarea>
                    </mat-form-field>
                </form>

                <button class="btn btn-outline-danger">WYŚLIJ</button>
            </div>
        </div>
        <div class="aside-container">
                <div class="contact-info row">
                    <div class="phone col-md-4">
                        <i class="material-icons">phone</i> 
                        <span>(0048-22) 771-41-65</span>
                    </div>
                    <div class="email col-md-4">
                        <i class="material-icons">email</i> 
                        <span>transmed@federal.pl</span>

                    </div>
                    <div class="fax col-md-4">
                        <i class="material-icons">perm_phone_msg</i>
                        <span>(0048-22) 771-46-19</span>
                    </div>
                </div>
                <div class="map-container row">
                    <div class="address-info col-md-6">
                        <div class="header">
                                <i class="material-icons">my_location</i>
                                <span class="header-title">ZNAJDŹ NAS!</span>
                        </div>
                        <span class="address">
                                <span class="name">TRANSMED</span>
                                <span class="subtitle">Sygnalizacja Ostrzegawcza Pojazdów</span>
                                <span class="city">05-270 Marki k. Warszawy</span>
                                <span class="street">ul. Juliusza Słowackiego 7.</span>
                        </span>
                        <span class="info">
                                pracujemy od poniedziałku do piątku w godzinach 8.30 – 16.30
                        </span>
                    </div>
                        <div class="mapouter col-md-6">
                            <div class="gmap_canvas">
                                <iframe width="600" height="500" id="gmap_canvas" src="https://maps.google.com/maps?q=Juliusza%20S%C5%82owackiego%207%2C%20Warszawa&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
                            </div>
                        </div>
                </div>
        </div>
    </div>
</div>