<div class="catalogs-container">
    <h1>#KATALOGI</h1>
    <div class="cards-container row">
        <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        FEDERAL SIGNAL VAMA PL
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">
                            SYGNALIZACJA UPRZYWILEJOWANA
                        </h5>
                        <p class="card-text">
                                Federal Signal Vama, lider na rynku Europejskim w zakresie sygnalizacji dla pojazdów różnegorodzaju.
                        </p>
                        <button class="btn btn-danger">SPRAWDŹ</button>
                    </div>
                </div>
        </div>
        <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                            Threesixty ENG
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">
                            SYGNALIZACJA OSTRZEGAWCZA
                        </h5>
                        <p class="card-text">
                                A complete range of beacons to meet all vehicle and materials handling warning light requirements.
                        </p>
                        <button class="btn btn-danger">SPRAWDŹ</button>
                    </div>
                </div>
        </div>
        <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                            Aragon PL
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">
                            TOW CAR
                        </h5>
                        <p class="card-text">
                            Z naszej fabryki w Zaragozie (Hiszpania) zaopatrujemy w haki i inne rozwiązania transportowe blisko 50 krajów.
                        </p>
                        <button class="btn btn-danger">SPRAWDŹ</button>
                    </div>
                </div>
        </div>
        <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                            Tow Car ENG
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">
                            TOW CAR
                        </h5>
                        <p class="card-text">
                                Z naszej fabryki w Zaragozie (Hiszpania) zaopatrujemy w haki i inne rozwiązania transportowe blisko 50 krajów.

                        </p>
                        <button class="btn btn-danger">SPRAWDŹ</button>
                    </div>
                </div>
        </div>
    </div>
</div>