.navbar {
    background-color: #000000;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    .logos {
        img {
            height: 3em;
        }
    }
    .navbar-collapse {
        .navbar-nav {
            margin-left: 4em;
            .nav-item {
                margin-right: 1.4rem;
                cursor: pointer;
            }
        }
    }
}