header{
  background-image: url("../../../assets/bg-car.jpg");
  height: 100vh; 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  .material-icons {
      position: absolute;
      color: #FFFFFF;
      bottom: 1rem;
      left: 50%;
      margin-left: -50px;

      font-size: 3.5rem;
      border: 4px solid #FFFFFF;
      border-radius: 50%;
      cursor: pointer;
  }
}

.material-icons {
    &.top {
        position: fixed;
        bottom: 3rem;
        right: 2rem;
        font-size: 3.5rem;
        color: #DB0024;
        border: 4px solid #DB0024;
        border-radius: 50%;
        cursor: pointer !important;
        z-index: 99999999 !important;
    }
}